div {
  /*border: 1px dashed blue;*/
  /*display: inline-block;*/
}

#a {
 width: 25%;
 display: inline-block;
}

#b {
  height: 100%;
  width: 50%;
  display: inline-block;
}

#c {
  width: 15%;
  display: inline-block;
}

#contains_everything {
  height: 150px;
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

#on-off {
  top: 0px;
}

#light {
  background-color: black;
  height: 20px;
  width: 20px;

}


#display_text{
  font-family: 'Orbitron', sans-serif;
  font-size: 5em;
  background-color: #424242;
  color: #4caf50;
  /*position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);*/
  text-align: center;
  vertical-align: middle;
  line-height: 150px;
}

#up, #down {
  font-size: 1.75em;
  width: 2em;
  height: 2em;

}




/*#test_div {
  height: 200px;
  width: 200px;
  position: absolute;
    top: 50%;
    left: 50%;

    transform: translateX(-50%) translateY(-50%);
}*/

/*#display-div {
  display: inline-block;



}*/
